.Billet {
    background-color: #FFEBD1;
}

.BilletCards {
    display: block;
    text-decoration: none;
    background-color: #FFEBD1;
}

textarea {
    width: 500px;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}